# DB Configurations
DB = XXXX
DB_USER = XXXX
DB_PASSWORD = XXXX

# Server Configs
PORT = 0000
SECRET_JWT = XXXX

# AWS Server Configs
AWS_ACCESS_KEY_ID = XXXX
AWS_SECRET_KEY = XXXX
REGION = XXXX
SMS_REGION = XXXX
PDF_REGION = XXXX
PLATFORM_APPLICATION_ARN = XXXX
