<html>
    <head>
        <title>Category PDF</title>
    </head>
    <body>
        <section style="padding: 20px;">
                      
                 <div class="table-responsive p-t-10">
                                    <table id="blog-table" class="table" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Category</th>
                                                <th>Sub Category</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for(var i=0; i < CategoryData.length; i++) { %>
                                                <tr>
                                                    <td>
                                                        <%= i+1 %>
                                                    </td>
                                                     <td>
                                                        <%= CategoryData[i].name %>
                                                    </td>
                                                </tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                </div>

        </section>
    </body>
</html>
     